// default theme
$white-one: #ffffff;
$white-two: #fafafa;

$black-one: #262626;

$gray-one: #dbdbdb;
$gray-two: #8e8e8e;

$blue-one: #0095f6;
$blue-two: #385185;

$red-one: #ed4956;

$green-one: #6dc993;
