.home-container {
  width: 100%;
  min-height: 85vh;
}

.timeline-container {
  width: 100%;
  margin-top: 76px;
}

.login-card {
  width: 350px;
}

@media (max-width: 992px) {
  .login-card {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .login-card {
    width: 100%;
  }
}

